* {

    margin: 0;

    padding: 0;

    box-sizing: border-box;

    font-family: Poppins, sans-serif;

}

body {

    background: #edf2f7;

}

.container {

    max-width: 900px;

    margin: auto;

    padding: 20px;

}

header {

    background: linear-gradient(135deg, #1d4ed8, #0f172a);

    color: white;

    padding: 35px;

    border-radius: 20px;

    text-align: center;

    margin-bottom: 30px;

}

header h1 {

    font-size: 38px;

}

header p {

    margin-top: 10px;

    opacity: .9;

}

.menu {

    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    gap: 20px;

}

.card {

    background: white;

    padding: 25px;

    border-radius: 18px;

    cursor: pointer;

    transition: .3s;

    box-shadow: 0 10px 20px rgba(0, 0, 0, .08);

}

.card:hover {

    transform: translateY(-6px);

}

.card h2 {

    color: #2563eb;

    margin-bottom: 10px;

}

.card p {

    color: #666;

}

button {

    margin-top: 20px;

    padding: 12px 25px;

    border: none;

    border-radius: 12px;

    background: #2563eb;

    color: white;

    cursor: pointer;

    font-size: 16px;

}

button:hover {

    background: #1d4ed8;

}

.lista {

    display: grid;

    gap: 15px;

    margin-top: 25px;

}

.item {

    background: white;

    padding: 18px;

    border-radius: 15px;

    cursor: pointer;

    box-shadow: 0 5px 15px rgba(0, 0, 0, .08);

    transition: .3s;

}

.item:hover {

    background: #2563eb;

    color: white;

}
.context-menu {
    position: absolute;
    display: none; /* Esto es vital para que empiece oculto */
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    padding: 8px 0;
    min-width: 150px;
    z-index: 9999; /* Asegura que esté por encima de todo */
}
.context-menu.active {
    display: flex;
    flex-direction: column;
}